# OS
.DS_Store
Thumbs.db

# Editors
.vscode/*
!.vscode/extensions.json
.idea/

# Env / secrets
.env
.env.local
.env.*.local

# Dependencies / build output
node_modules/
dist/
dist-ssr/
build/
*.log
.vercel/
*.tsbuildinfo
